
@{
    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
    ViewBag.Title = "Index";
}

<p>Lorem ipsum dolor sit amet, tristique aliquet venenatis, nullam eu cursus ac et. Sed massa bibendum vel metus. Mauris tortor mi non nullam nec etiam. Aliquam rutrum sed sed etiam, nullam in est hac vero, facilisi consequat vehicula eu penatibus etiam scelerisque, nunc urna mi erat, mattis ultricies vel id libero. Nunc amet sapien luctus a mi sollicitudin. At eu. Dolor sapien sed, arcu nulla ultricies per proin, at nisl turpis elit elementum, amet aptent tempor, arcu eget aliquam a ultrices. Malesuada lorem, faucibus etiam, nisl rhoncus ac libero accumsan. At mollit lacinia nulla aenean velit, ornare elit sit duis ut est voluptatem, dui euismod neque porttitor arcu nulla. Tempus at vestibulum amet suscipit tempus, tempor nulla condimentum justo justo. Ultricies hac luctus nec, nec dapibus natoque dolor, vulputate etiam morbi, tempor ut scelerisque aptent, netus imperdiet neque neque donec morbi fusce. Dui quam in aptent in, dui vitae sem.

A sollicitudin ridiculus odio nibh, egestas libero nulla mi luctus, wisi ut interdum viverra non, lorem at odio scelerisque lacus, scelerisque nibh luctus volutpat porta quod enim. Donec hac scelerisque. Mattis aenean. Cras erat. Gravida nunc in, diam arcu ligula amet, suspendisse sem auctor varius. A vestibulum tempus nulla ante, sed euismod, nibh enim, in magna nunc donec pulvinar, natoque arcu rutrum elit non. Ac convallis rutrum vestibulum, morbi rutrum sit suspendisse ut in, condimentum viverra erat, ut convallis tristique nec vel rutrum libero, nunc neque vitae ultrices. Euismod vehicula non in libero fusce, inceptos pretium viverra pede morbi duis, nulla in dui, a malesuada at vel gravida odio imperdiet. Aliquam lectus sed enim ac, fermentum malesuada mauris montes, urna consequat vehicula pede, platea amet, enim iaculis non egestas est mattis blandit.

Purus tincidunt. Tristique sem in sed. Sed nulla tempor in ut libero, egestas in eget, id aenean potenti quam ac. Rhoncus ultricies, fusce porttitor eleifend, suspendisse lectus amet. Ut diam, eget arcu nulla at taciti at interdum, justo volutpat. Culpa aliquam potenti, nam sed, molestie convallis, blandit ac faucibus. Fringilla inceptos et amet vivamus, faucibus duis suscipit vel, mi duis dolor cras eu sociis, enim donec nullam vulputate arcu, rhoncus enim ante lacinia tincidunt ornare.

Duis urna mauris lectus. Netus lacinia ante ac id, condimentum curabitur lobortis sit proin sem, a sed ornare ultrices sit ac eligendi, metus vulputate vestibulum donec nec tempor lacinia, maecenas facilisis mollis. Nullam ridiculus pharetra, faucibus vel ullamcorper. Morbi odio in vivamus imperdiet augue. Fermentum pretium tortor nullam dui et nonummy, eleifend odio nam imperdiet ligula ultricies cursus, voluptatem nec</p>

@section NoiDungBenPhai {
    <h2>Right Content</h2>
    }